<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>显示对应用户信息页面</title>

    <link rel="stylesheet" th:href="@{../static/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{../static/css/style.css}"/>
    <script th:src="@{../static/js/jquery.min.js}"></script>
    <script th:src="@{../static/js/layui.js}"></script>
</head>
<body>
<!--弹出层显示用户信息页面-->
<div class="layui-row" id="ass">
    <div class="layui-col-md10">

        <!--layui-from-pane-->
        <form class="layui-form" action="" style="margin-top:20px" lay-filter="formTestFilter">

            <div class="content whisper-content">
                <div class="cont">
                    <div class="whisper-list">
                        <div class="item-box">
                            <div class="item">
                                <div class="whisper-title">
                                    <i class="layui-icon layui-icon-username"></i><a href=""><span class="volume"
                                                                                                   id="volume"></span>&nbsp;&nbsp;
                                    <span class="date" id="date"></span></a>
                                </div>
                                <p class="text-cont">
                                </p>
                                <div class="img-box">
                                    <img src="" class="image" id="image">
                                </div>
                            </div>

                        </div>
                        <!--        <div id="demo1" style="text-align: center;"></div>-->
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>

</body>
</html>